#test p {
  opacity: 0;
  font-size: 21px;
  margin-top: 25px;
  text-align: center;

  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
}

#test p.load {
  opacity: 1;
}
